html {
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

html,
body,
div#app {
    @apply bg-container text-default min-h-screen;
}

// .main-container {
//     @apply bg-container min-h-screen;
// }

.center-full {
    @apply flex justify-center items-center min-h-screen avoid-fixed-nav;
}

.container,
.container-fixed {
    @apply min-h-screen;
}

.avoid-fixed-nav {
    padding-top: 56px;
}

.container-fixed {
    margin: 0 auto;
    max-width: 1200px;
}

.row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    display: flex;
    flex: 1;
    padding: 10px;
}

.card {
    border-radius: 0.25rem;
    @apply p-4;

    h1 {
        font-size: 2rem;
        padding-bottom: 0.75rem;
        margin-bottom: 0.75rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.is-invalid {
    @apply border-red-900 border-2 border-solid;
}

.separator {
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
}
.separator::after {
    content: "";
    position: absolute;
    bottom: -0.36rem;
    height: 1px;
    display: block;
    width: 100%;
    // background: red;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form-control {
    @apply w-full p-2 text-gray-500 bg-discord-bg-2;
}

a.nav-link {
    @apply p-4;
}

a[href="/"].router-link-exact-active,
a:not([href="/"]).router-link-active {
    @apply border-blue-400 border-b-2 border-solid;
    font-weight: bold;
}

.nav-brand a {
    border-bottom-width: 0 !important;
}

.box {
    @apply bg-gray-700 rounded-lg;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-main {
    @apply bg-header text-default flex justify-between items-center px-2;
}

.nav-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    @apply p-4;
}
