/*
    Global stuff
*/

html {
    font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

html,
body,
div#app {
    @apply text-default min-h-screen bg-container;
}

/*
    Containers
*/

// .main-container {
//     @apply bg-container min-h-screen;
// }

.container {
    // min-height: calc(100vh - 16px);
    padding-top: 16px;
    max-width: 1200px;

    @apply mx-auto;
}

.center-full {
    @apply flex justify-center items-center min-h-screen;
}

.nav-fixed {
    .container {
        min-height: calc(100vh - 72px);
        padding-top: 72px;
    }

    .center-full {
        min-height: calc(100vh - 72px);
    }
}

/*
    Layout, Components
*/

.row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    display: flex;
    flex: 1;
    padding: 10px;
}

.card {
    border-radius: 0.25rem;
    @apply p-4;

    h1 {
        font-size: 2rem;
        padding-bottom: 0.75rem;
        margin-bottom: 0.75rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.separator {
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
}
.separator::after {
    content: "";
    position: absolute;
    bottom: -0.36rem;
    height: 1px;
    display: block;
    width: 100%;
    // background: red;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.box {
    @apply bg-gray-700 rounded-lg;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
